<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- * META TAGS FOR SOCIAL MEDIA * -->

    <meta property="og:title" content="The Blog - Ayo Codes" />
    <meta
      property="og:description"
      content="Follow the ups as well as the downs. This is my coding journey"
    />
    <meta property="og:url" content="http://www.blog.ayoadesanya.com" />
    <meta property="og:image" content="./assets/images/main.jpeg" />
    <meta property="og:site_name" content="Ayo Codes - The Blog" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />

    <meta name="twitter:image" content="https://ibb.co/gdP336n" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="The Blog - Ayo Codes" />
    <meta
      name="twitter:description"
      content="Follow the ups as well as the downs. This is my coding journey"
    />
    <meta name="twitter:site" content="@ayo__codes" />

    <meta name="twitter:creator" content="@ayo__codes" />

    <!-- * META TAGS FOR SOCIAL MEDIA ENDS * -->

    <!--? Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />

    <!--? Dynamic favicon -->
    <link
      rel="icon"
      href="https://www.google.com/s2/favicons?domain=apple.com/"
    />

    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include 'header.njk'%}
    <main>
      {{ content | safe }}
    </main>
    {% include 'footer.njk'%}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
